@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
    font-family:cursive; /* Familia de fuentes */
    font-size: 14px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #f0f0f0; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
}
h1 {
    color: #000000; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: "Alfa Slab One", serif; /* La familia tipográfica utilizada en la cabecera */
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }