<!DOCTYPE html>
<html>
<head>
    <title>Dependecias Tecnologicas</title>
    <link rel="stylesheet" href="../Static/CSS/style.css">
</head>
<body>
    <h1>Dependencias.</h1>
    <p>Es un tipo de adicción en la que una persona no puede prescindir del uso de determinadas tecnologías y
        dispositivos.
        Esta adicción puede llevar a que uno pierda por completo la capacidad de funcionar sin estas tecnologías...
        Lo que puede tener un grave impacto negativo en su calidad de vida.
        
        </p>
    <h2>Y ésta es una cabecera un poco más pequeña</h2>
             <ul>
                   <li>Este es un elemento de una lista de viñetas (la primera)</li>
                   <li>Y este es el segundo elemento</li>
             </ul>
             <ul>
                <li>Redes sociales y mensajeros: Las personas pueden pasar demasiado tiempo en las redes sociales y los mensajeros, reduciendo el tiempo que pasan en el mundo real. Además, esto les lleva a depender de actualizaciones constantes de noticias y mensajes.</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
             </ul>
    
             <h2>HTML Table</h2>
             
             <table>
               <tr>
                 <th>Company</th>
                 <th>Contact</th>
                 <th>Country</th>
               </tr>
               <tr>
                 <td>Alfreds Futterkiste</td>
                 <td>Maria Anders</td>
                 <td>Germany</td>
               </tr>
               <tr>
                 <td>Centro comercial Moctezuma</td>
                 <td>Francisco Chang</td>
                 <td>Mexico</td>
               </tr>
               <tr>
                 <td>Ernst Handel</td>
                 <td>Roland Mendel</td>
                 <td>Austria</td>
               </tr>
               <tr>
                 <td>Island Trading</td>
                 <td>Helen Bennett</td>
                 <td>UK</td>
               </tr>
               <tr>
                 <td>Laughing Bacchus Winecellars</td>
                 <td>Yoshi Tannamuri</td>
                 <td>Canada</td>
               </tr>
               <tr>
                 <td>Magazzini Alimentari Riuniti</td>
                 <td>Giovanni Rovelli</td>
                 <td>Italy</td>
               </tr>
             </table>
             
             
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYVwbvQSXt4ZMbzVW_y4H6o2RStYCsJRqTCGIlvOVp8AYqkhWjVD3cFd84nlp8irBlofAS" alt="Image 1">
</body>
</html>